.container {

    display: grid ;
    grid-gap: 10px;
    grid-template-columns: [col] 11% [col]  67%[col]  10% [col]  11% ;
    grid-template-rows: [row] 50% [row] 10% [row] ;
        background-color: #fff;
        color: #444;
      
    } 
    .a{
     
        color: #fff;
        font-size: 20px;
        display: inline;
    }
    .box {
        
    
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    
      }
    .header {
   
        grid-column: col / span 4;
        text-align: start;
        background-color: rgb(21, 0, 47);
         color:#fff;
        grid-row: row ;
    
      }
     p {
    text-align: start;
    color: #fff;
    font-size: 20px;
    display: inline;
    
      }